<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 p-4">
            <h2 class="font-weight-light">Nueva Lista</h2>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <form action="create-list" method="POST">
                <div class="form-group">
                    <label for="email">Nombre</label>
                    <input class="form-control" type="text" name="name" placeholder="Nombre de la lista" required="true">
                </div>
                <div class="form-group">
                    <label for="password">Nombre admin</label>
                    <input class="form-control" type="text" name="adminName" placeholder="Nombre del responsable"
                        required="true">
                </div>
                <div class="form-group">
                    <label for="password">Maximo de invitados</label>
                    <input class="form-control" type="Number" name="maxInvitees" required="true">
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="private" value="private">
                        <label class="form-check-label" for="private">Privada</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="public" value="public">
                        <label class="form-check-label" for="public">Publica</label>
                    </div>
                </div>
                <button class="btn btn-success" type="submit">Listo</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>