<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 p-4">
            <h2 class="font-weight-light">Nuevo Evento</h2>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <form action="create-list" method="POST">
                <div class="form-group">
                    <label for="location">Lugar</label>
                    <select name="location" class="form-control">
                        <option value="1">Lugar 1</option>
                        <option value="2">Lugar 2</option>
                        <option value="3">Lugar 3</option>
                        <option value="4">Lugar 4</option>
                        <option value="5">Lugar 5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="password">Nombre</label>
                    <input class="form-control" type="text" name="name" placeholder="Nombre de la lista"
                        required="true">
                </div>
                <div class="form-group">
                    <label for="listMax">Maximo de listas</label>
                    <input class="form-control" type="number" name="listMax" placeholder="Elija un numero" min="0" required="true">
                </div>
                <div class="form-group">
                    <label>Fotos</label>
                    <div class="row">
                        <div class="col">
                        <input class="form-control-file" type="file" name="photo1" required="true">
                    </div>
                    <div class="col">
                        <input class="form-control-file" type="file" name="photo2" required="true">
                    </div>
                    <div class="col">
                        <input class="form-control-file" type="file" name="photo3" required="true">
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Descripcion</label>
                    <textarea class="form-control" name="description" cols="20" rows="5"></textarea>
                </div>
                <button class="btn btn-success" type="submit">Listo</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>