<div class="container-fluid pt-2">
    <div class="row">
        <div class="col-4 offset-2">
            <h2 class="font-weight-light">Mis Eventos</h2>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action">Evento 1</li>
                <li class="list-group-item list-group-item-action">Evento 2</li>
                <li class="list-group-item list-group-item-action">Evento 3</li>
                <li class="list-group-item list-group-item-action">Evento 4</li>
                <li class="list-group-item list-group-item-action">Evento 5</li>
            </ul>
            <button class="btn btn-success mt-2">Nuevo Evento</button>
        </div>
        <div class="col-4">
            {{#if true}}
            <h2 class="font-weight-light">Mis Lugares</h2>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action">Lugar 1</li>
                <li class="list-group-item list-group-item-action">Lugar 2</li>
                <li class="list-group-item list-group-item-action">Lugar 3</li>
                <li class="list-group-item list-group-item-action">Lugar 4</li>
                <li class="list-group-item list-group-item-action">Lugar 5</li>
            </ul>
            <button class="btn btn-success mt-2">Nuevo Lugar</button>
            {{/if}}
        </div>
    </div>
</div>