<div class="container-fluid pt-2">
    <div class="title row mb-3">
        <div class="col-3">
            <h3 class="font-weight-light">Titulo del evento</h3>
            <h5 class="font-weight-light">Administrador: Juan Perez</h5>
        </div>
        <div class="lists col">
            <h4 class="font-weight-light">Personas</h2>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action">Persona 1</li>
                <li class="list-group-item list-group-item-action">Persona 2</li>
                <li class="list-group-item list-group-item-action">Persona 3</li>
                <li class="list-group-item list-group-item-action">Persona 4</li>
                <li class="list-group-item list-group-item-action">Persona 5</li>
            </ul>
        </div>
    </div>
    <div class="row actions mt-5 pl-3">
        <button class="btn btn-lg btn-dark mt-2">Volver</button>
    </div>
</div>