<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 p-4">
            <h1 class="text-center display-4">Login</h1>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col-6 jumbotron">
            <form action="login" method="POST">
                <div class="form-group">
                    <label for="email">Direccion de correo</label>
                    <input class="form-control" type="text" name="email" placeholder="johndoe@mail.com" required="true">
                </div>
                <div class="form-group">
                    <label for="password">Contrasena</label>
                    <input class="form-control" type="password" name="password" placeholder="********"
                        required pattern="[a-zA-Z0-9_.-]{6,12}">
                </div>
                <button class="btn btn-primary" type="submit">Ingresar</button>
                <small class="float-right">Aun no tenes usuario? Hace click <a href="/register">aca</a></small>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>