<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 p-4">
            <h1 class="text-center display-4">Registro</h1>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col-6 jumbotron">
            <form action="register" method="POST">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input class="form-control" type="text" name="name" placeholder="John Doe" required="true">
                </div>
                <div class="form-group">
                    <label for="email">Direccion de correo</label>
                    <input class="form-control" type="text" name="email" placeholder="johndoe@mail.com" required="true">
                    <small class="form-text text-muted">Tranquilo, no vamos a compartir tus datos con nadie.</small>
                </div>
                <div class="form-group">
                    <label for="password">Contrasena</label>
                    <input class="form-control" type="password" name="password" placeholder="********"
                        required pattern="[a-zA-Z0-9_.-]{6,12}">
                </div>
                <button class="btn btn-primary" type="submit">Registrarse</button>
                <small class="float-right">Ya tenes usuario? Hace click <a href="/login">aca</a></small>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>